#list_module {
  padding: 100px;
  .panel-heading {
    padding: 0;
    overflow: hidden;
    background-color: white;
    #list_title {
      font-size: 26px;
      display: inline-block;
      padding: 24px;
      font-weight: 600;
    }
    #add_list, #back_to_list {
      cursor: pointer;
      background-color: #6dd860;
      text-align: center;
      float: right;
      display: inline-block;
      height: 85px;
      width: 100px;
      line-height: 85px;
      .glyphicon {
        font-size: 1.2em;
        color: white;
      }
    }
  }
  .panel-body {
    background: #f5f5f5;
    padding: 0;
    #lists {
      padding: 15px;
      .list_info {
        cursor: pointer;
        background-color: white;
        margin-bottom: 10px;
        overflow: hidden;
        .title {
          font-size: 14px;
          display: inline-block;
          padding: 15px 25px;
        }
        #add_list_item_title{
          font-size: 14px;
          padding: 15px 25px;
          background-color: #d0c7c7;
        }
        .list-actions {
          cursor: pointer;
          text-align: center;
          display: inline-block;
          float: right;
          div {
            display: inline-block;
            height: 50px;
            width: 50px;
            line-height: 50px;
          }
          .remove_list {
            background-color: #eab6b6;
          }
          .edit_list {
            background-color: #d0c7c7;
          }

        }
      }
      .list_edit_input {
        background-color: white;
        margin-bottom: 10px;
        overflow: hidden;

        input[name="edit_title"] {
          height: 50px;
        }
      }
      .list_edit_actions {
        margin-bottom: 15px;
        .discard {
          color: #636363;
        }
      }
    }
    #create_list_form {
      padding: 0px 15px;
      background-color: #6dd860;
      .form-group {
        padding: 40px 0;
        label {
          color: white;
        }
        input#list_name {
          padding: 25px;
        }
      }

      #confirm_form_button {
        cursor: pointer;
        height: 80px;
        line-height: 80px;
        text-align: center;
        background-color: #ec6969;
        color: white;
        font-weight: bold;
      }

    }
  }

}