<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>LIST module</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/all.min.js') }}"></script>
</head>
<body>
<div class="container">
    <div id="list_module">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div id="list_title">
                    <span>
                        {% if title is defined %}
                            {{ title }}
                        {% else %}
                            MY LISTS
                        {% endif %}
                    </span>
                </div>
                <div id="add_list" class="{{ show is defined and show ? 'hidden' : '' }}">
                    <i class="glyphicon glyphicon-plus"></i>
                </div>
                <div id="back_to_list" class="{{ show is defined and show ? '' : 'hidden' }}"
                     data-href="{{ show is defined and show ? url('listIndex') : '' }}">
                    <i class="glyphicon glyphicon-menu-left "></i>
                </div>
            </div>
            <div class="panel-body">
                <div id="lists">
                    <div class="list template hidden">
                        <div class="list_info"
                             data-href="#">
                            <div class="title"></div>
                            <div class="list-actions">
                                    <div class="edit_list">
                                        <i class="glyphicon glyphicon glyphicon-pencil"></i>
                                    </div>
                                <div class="remove_list" data-href="{{ url('deleteList', {'id' : 'a'}) }}">
                                    <i class="glyphicon glyphicon glyphicon-trash"></i>
                                    <i class="fa fa-spinner fa-spin hidden"></i>
                                </div>
                            </div>
                        </div>
                            <div class="edit_list_form hidden">
                                <div class="list_edit_input">
                                    <input type="text" class="form-control" name="edit_title" value="">
                                </div>
                                <div class="list_edit_actions">
                                    <a class="btn btn-success confirm" data-href="{{ url('editList', {'id' : 'a'}) }}">
                                        <i class="fa fa-spinner fa-spin hidden"></i> Save
                                    </a>
                                    <a class="btn btn-transparent discard">
                                        <i class="glyphicon glyphicon-remove"> </i>
                                    </a>
                                </div>
                            </div>
                    </div>
                    {% for list in lists %}
                        <div class="list">
                            <div class="list_info"
                                 data-href="{{ list.parent is null ? url('showList', {'id': list.id}) : '#' }}">
                                <div class="title">
                                    {{ list.title }}
                                </div>
                                <div class="list-actions">
                                    {% if show is defined and show %}
                                        <div class="edit_list">
                                            <i class="glyphicon glyphicon glyphicon-pencil"></i>
                                        </div>
                                    {% endif %}
                                    <div class="remove_list" data-href="{{ url('deleteList', {'id': list.id}) }}">
                                        <i class="glyphicon glyphicon glyphicon-trash"></i>
                                        <i class="fa fa-spinner fa-spin hidden"></i>
                                    </div>
                                </div>
                            </div>
                            {% if show is defined and show %}
                                <div class="edit_list_form hidden">
                                    <div class="list_edit_input">
                                        <input type="text" class="form-control" name="edit_title"
                                               value="{{ list.title }}">
                                    </div>
                                    <div class="list_edit_actions">
                                        <a class="btn btn-success confirm" data-href="{{ url('editList', {'id':list.id}) }}">
                                            <i class="fa fa-spinner fa-spin hidden"></i> Save
                                        </a>
                                        <a class="btn btn-transparent discard">
                                            <i class="glyphicon glyphicon-remove"> </i>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if show is defined and show %}
                        <div class="list">
                            <div class="list_info create_new_item">
                                <div id="add_list_item_title">
                                    <i>Click item to add item..</i>
                                </div>
                            </div>
                            <div class="edit_list_form hidden">
                                <div class="list_edit_input">
                                    <input type="text" class="form-control" name="edit_title">
                                </div>
                                <div class="list_edit_actions">
                                    <a class="btn btn-success confirm" data-href="{{ url('newList', {'id': show}) }}">
                                        <i class="fa fa-spinner fa-spin hidden"></i> Save
                                    </a>
                                    <a class="btn btn-transparent discard">
                                        <i class="glyphicon glyphicon-remove"> </i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div id="create_list_form" class="hidden">
                    <form id="add_new_list" action="{{ url('newList') }}" method="post">
                        <div class="form-group">
                            <label for="list_name">Name:</label>
                            <br/>
                            <input name="list_name" id="list_name" class="form-control" type="text"
                                   placeholder="Add name for the list"/>
                        </div>
                        <div id="confirm_form_button" class="row">
                            <span>
                                ADD LIST
                            </span>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
