#list_module {
  padding: 100px; }
  #list_module .panel-heading {
    padding: 0;
    overflow: hidden;
    background-color: white; }
    #list_module .panel-heading #list_title {
      font-size: 26px;
      display: inline-block;
      padding: 24px;
      font-weight: 600; }
    #list_module .panel-heading #add_list, #list_module .panel-heading #back_to_list {
      cursor: pointer;
      background-color: #6dd860;
      text-align: center;
      float: right;
      display: inline-block;
      height: 85px;
      width: 100px;
      line-height: 85px; }
      #list_module .panel-heading #add_list .glyphicon, #list_module .panel-heading #back_to_list .glyphicon {
        font-size: 1.2em;
        color: white; }
  #list_module .panel-body {
    background: #f5f5f5;
    padding: 0; }
    #list_module .panel-body #lists {
      padding: 15px; }
      #list_module .panel-body #lists .list_info {
        cursor: pointer;
        background-color: white;
        margin-bottom: 10px;
        overflow: hidden; }
        #list_module .panel-body #lists .list_info .title {
          font-size: 14px;
          display: inline-block;
          padding: 15px 25px; }
        #list_module .panel-body #lists .list_info #add_list_item_title {
          font-size: 14px;
          padding: 15px 25px;
          background-color: #d0c7c7; }
        #list_module .panel-body #lists .list_info .list-actions {
          cursor: pointer;
          text-align: center;
          display: inline-block;
          float: right; }
          #list_module .panel-body #lists .list_info .list-actions div {
            display: inline-block;
            height: 50px;
            width: 50px;
            line-height: 50px; }
          #list_module .panel-body #lists .list_info .list-actions .remove_list {
            background-color: #eab6b6; }
          #list_module .panel-body #lists .list_info .list-actions .edit_list {
            background-color: #d0c7c7; }
      #list_module .panel-body #lists .list_edit_input {
        background-color: white;
        margin-bottom: 10px;
        overflow: hidden; }
        #list_module .panel-body #lists .list_edit_input input[name="edit_title"] {
          height: 50px; }
      #list_module .panel-body #lists .list_edit_actions {
        margin-bottom: 15px; }
        #list_module .panel-body #lists .list_edit_actions .discard {
          color: #636363; }
    #list_module .panel-body #create_list_form {
      padding: 0px 15px;
      background-color: #6dd860; }
      #list_module .panel-body #create_list_form .form-group {
        padding: 40px 0; }
        #list_module .panel-body #create_list_form .form-group label {
          color: white; }
        #list_module .panel-body #create_list_form .form-group input#list_name {
          padding: 25px; }
      #list_module .panel-body #create_list_form #confirm_form_button {
        cursor: pointer;
        height: 80px;
        line-height: 80px;
        text-align: center;
        background-color: #ec6969;
        color: white;
        font-weight: bold; }
